@import "home";
@import "navbar";
@import "font";
@import "container";
@import "button";
@import "color";
@import "images";
@import "generic";
@import "underline";





@font-face {
    font-family: 'myfont';
    src: url('fonts/sofachrome_rg-webfont.woff');
    src: url('fonts/sofachrome_rg-webfont.woff') format('woff'),
}



