

.navbar > li {
  list-style: none;
  text-decoration: none;
}


.secondpart > li {
  list-style: none;
}


.navbar-black {
  background-color: #0F0E17;
  height: 140px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding-right: 40px;
  margin-top: 0;

}

.secondpart {
  display: flex;
  width: 60vw;
  justify-content: space-between;
  align-items: center;
}
